@using Core.ViewModels.Tournament
@model IEnumerable<ListTournamentModel>

@{
    ViewData["Title"] = "Tournament";
}

<div class="container container-tournament">
    <a asp-action="Create">
        <button class="button-dark">Create</button>
    </a>
    @foreach (ListTournamentModel t in Model)
    {
        <div class="row tournament-card">
            <a class="anchor-light" asp-action="Details" asp-route-id=@t.Id>
                <h3 class="text-center">@t.Name</h3>
            </a>
        </div>
    }
</div>
