@using Microsoft.AspNetCore.Identity
@using Infrastructure.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav auth-list">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item auth-button">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="auth-button">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Register">
                <button class="auth-button">
                    Register
                </button>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Login">
                <button class="auth-button">
                    Login
                </button>
            </a>
        </li>
    }
</ul>
